@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var selection = CurrentPage.Site().FirstChild("promoRepository").Children("promoItem").Where("Visible");
}

<!-- promo slider html -->
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		@foreach (var item in selection)
		{
			<div class="item @item.IsFirst("active")" style="background-image:url('@item.GetCropUrl("image", "promoHome")');">
				<div class="carousel-caption">
					<h2>@item.Name</h2>
					<h3>@item.Subheading</h3>
					<p>@item.Description</p>
					@if (item.HasValue("link"))
					{
						<p><a class="btn btn-info" href="@Umbraco.Content(item.Link).Url" role="button">Read More</a></p>
					}
				</div>
			</div>	
		}
	</div>

	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>
</div>
<!-- end promo slider html -->
